<mat-toolbar class="topbar">
  <!-- Sidenav toggle button -->
  <button 
  mat-icon-button
  id="sidenavToggle" 
  (click)="toggleSidenav()"
  matTooltip="Toggle Hide/Open">
  <mat-icon>menu</mat-icon>
  </button>
  <!-- Sidenav toggle collapse -->
  <button 
  *ngIf="sidenav.opened"
  mat-icon-button
  id="collapseToggle"
  fxHide.lt-md="true" 
  (click)="toggleCollapse()"
  matTooltip="Toggle Collapse"
  class="toggle-collapsed">
  <mat-icon>chevron_left</mat-icon>
  </button>
  
  <span fxFlex></span>

  <!-- Top left user menu -->
  <button 
    [matMenuTriggerFor]="accountMenu"
    mat-icon-button
    matTooltip="Options">
    <mat-icon>more_vert</mat-icon>
  </button>
    <mat-menu #accountMenu="matMenu">
      <!-- <button mat-menu-item [routerLink]="['/profile/overview']">
        <mat-icon>account_box</mat-icon>
        <span>Profile</span>
      </button> -->
      <button mat-menu-item [routerLink]="['/profile/settings']">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item [routerLink]="['/sessions/signin']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>

</mat-toolbar>